:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --primary: #1a1a1a;              /* 主要文字颜色，接近黑色 */
    --secondary: #4a4a4a;            /* 次要文字颜色，深灰色 */
    --tertiary: #6a6a6a;             /* 第三级文字颜色，中灰色 */
    --content: #333333;              /* 内容文字颜色，深灰色 */
    --hljs-bg: #2f442dd5;
    --code-bg: #ffff;              /* 代码块背景色，浅灰色 */
    --border: #e0e0e0;               /* 边框颜色，浅灰色 */
    --pre-code-bg: #f4f4f4;          /* 预格式化代码块背景色 */
    --pre-code-color: #333333;       /* 预格式化代码块文字颜色 */
    --pre-code-border: #cccccc;      /* 预格式化代码块边框颜色 */
    --pre-code-top-bar: #f8f6f6;    /* 预格式化代码块顶部栏颜色 */
    --link-background-color: #e8e3f7;
    --link-color: var(--primary);
    --link-hover-color: #573eaa;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: #6549c0;
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
    --link-transition: all 0.3s ease;
    --line-yellow: url("data:image/svg+xml;charset=utf-8,%3Csvg preserveAspectRatio='none' width='120' height='6' viewBox='0 0 120 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M119 0.8C60 4 50-0.5 1 1.5' stroke='%23fc0' stroke-width='3' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");

    /* for type pages theming */
    --signature: var(--primary);
    --signature-bg: var(--secondary);
}
@media screen and (max-width: 500px) {
    :root {
        --header-height: 52px;
    }

}

.dark {
    --theme: #1f2937;
    --entry: #2e3440;
    --primary: #d1d1d1;              /* 暗模式主要文字颜色 */
    --secondary: #b4b4b4;            /* 暗模式次要文字颜色 */
    --tertiary: #9c9c9c;             /* 暗模式第三级文字颜色 */
    --content: #eaeaea;              /* 暗模式内容文字颜色 */
    --hljs-bg: #1f2937;
    --code-bg: #2a2a2a;              /* 暗模式代码块背景色 */
    --border: #4a4a4a;               /* 暗模式边框颜色 */
    --pre-code-bg: #2a2a2a;          /* 暗模式预格式化代码块背景色 */
    --pre-code-color: #eaeaea;       /* 暗模式预格式化代码块文字颜色 */
    --pre-code-border: #555555;      /* 暗模式预格式化代码块边框颜色 */
    --pre-code-top-bar: #555353;
    --link-background-color: #5242746d;
    --link-color: var(--primary);
    --link-hover-color: #876fd6;
    --link-underline-shadow: 0 1px 0 var(--link-color);
    --link-hover-underline-color: var(--link-hover-color);
    --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
