@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* profile-mode */
    .profile img {
        transform: scale(0.85);
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }

    .main {
        padding: var(--gap);
    }

    .post-content {
        font-size: 16px;
    }

    .post-title {
        font-size: 32px;
    }

    .post-content h1 {
        font-size: 28px;
    }

    .post-content h2 {
        font-size: 24px;
    }

    .post-content h3 {
        font-size: 20px;
    }

    .post-content h4,
    .post-content h5,
    .post-content h6 {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    /* reset */
    ::-webkit-scrollbar {
        width: 10px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--tertiary);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary);
    }

    ::-webkit-scrollbar-track {
        background: var(--theme);
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .share-buttons svg:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
