:root {
  --primary: var(--theme-color);
  --text-color: var(--content-color);
  --date-color: var(--secondary-color);
  --hover-bg: var(--code-bg-color);
}

.archive-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

/* 添加竖直时间线 */
.archive-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e60000; /* 红色时间线 */
}

.archive-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.archive-year {
  margin-bottom: 30px;
  position: relative;
}

.archive-year-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.archive-year-header::before {
  content: "—";
  color: var(--primary-color);
  margin-right: 10px;
  font-weight: bold;
}

.archive-year-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.archive-year-count {
  font-size: 20px;
  color: var(--count-color);
  margin-left: 10px;
}

.archive-month {
  margin-bottom: 20px;
}

.archive-month-header {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.archive-month-count {
  font-size: 16px;
  color: var(--count-color);
  margin-left: 5px;
}

.archive-entry {
  margin-bottom: 10px;
  padding: 5px 5px 5px 20px;  /* 增加内边距以容纳阴影 */
  position: relative;
  transition: box-shadow 0.2s ease, background-color 0.2s ease, border-left-color 0.2s ease;
  border-left: 3px solid #e0e0e0; /* 默认灰色边框 */
  border-bottom: 1px solid #e0e0e0; /* 添加底部灰色边框 */
}



.archive-entry:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* 添加悬停时的阴影 */
  background-color: var(--hover-bg);
  border-left-color: #e60000; /* 悬停时左边框变为红色 */
  transition: width 0.2s ease, height 0.2s ease;
}

.archive-entry:hover::before {
  width: 15px;
  height: 3px; /* 调整高度以匹配边框宽度 */
}

.archive-entry-title {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.archive-entry-title a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s ease;
}

.archive-entry-title a:hover {
  color: var(--primary-color);
}

.archive-entry-meta {
  font-size: 14px;
  color: var(--date-color);
  margin-top: 2px;
}

.archive-entry-author {
  margin-left: 10px;
}

/* 最后一个条目去掉底部边框 */
.archive-entry:last-child {
  border-bottom: none;
}
