{{- define "main" }}
<div class="gopher">
404
<div class="body body--1"></div>
  <div class="body body--2"></div>
  <div class="body body--3"></div>
  <div class="hand hand--1"></div>
  <div class="hand hand--2"></div>
  <div class="ear ear--1"></div>
  <div class="ear ear--2"></div>
  <div class="foot foot--1"></div>
  <div class="foot foot--2"></div>
  <div class="eye eye--1"></div>
  <div class="eye eye--2"></div>
  <div class="nose-1"></div>
  <div class="nose-2"></div>
  <div class="tooth"></div>
</div>
{{- end }}{{/* end main */ -}}
