{{- define "main" }}
<div class="not-found">404</div>
<a href="https://github.com/czyt" target="_blank" class="gopher">
  <div class="body body--1"></div>
  <div class="body body--2"></div>
  <div class="body body--3"></div>
  <div class="hand hand--1"></div>
  <div class="hand hand--2"></div>
  <div class="ear ear--1"></div>
  <div class="ear ear--2"></div>
  <div class="foot foot--1"></div>
  <div class="foot foot--2"></div>
  <div class="eye eye--1"></div>
  <div class="eye eye--2"></div>
  <div class="nose-1"></div>
  <div class="nose-2"></div>
  <div class="tooth"></div>
</a>
{{- end }}{{/* end main */ -}}
